body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: darkblue;
  padding-top: 20px;
}

p {
  text-align: center;
  color: darkblue;
}

.nav-links {
  text-align: center;
  margin-top: 20px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
}

.email-link {
  display: flex;
  justify-content: center;
}
